<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title> title </title>
	</head>
	<body> 
		<p> Hello world! </p>
		
		<form action="/qaPush" method="post" enctype="multipart/form-data" th:object="${qaListRow}">
			<input type="file" id="qaInput" name="qaCsv" size="10"> <br>
			<!--  <input type="text" name="question" value="question1" size="12" th:field="*{question}"> <br>
			<input type="text" name="answer" value="answer1" size="12" th:field="*{answer}"> <br> -->
			<button type="submit">展開</button>
		</form>
		<p>Look this></p>
	<
		<form action="/qanda">
			<p>問題選択</p> 
			<!-- ここに問題リストを書く -->
			<table solid="2px">
				<tr>
				<th>問題名</th>
				<th>説明</th>
				</tr>
				
				<tr>
				<th><input type="radio" name="members0_name" value="title1">Title1</th>
				<th>説明1</th>
				</tr>
				
			</table>
			<button type="submit">開始</button>
			
		</form>
	
	</body>
</html>