<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> SPBS1</title>
	<!-- Title -->
</head>
<body>
	<h2> callResponse用</h2>
	<!-- 変数を一つずつ返そうとする -->
	<form action="/callResponse">
		<p>Name</p>
		<input type="text" name="name"><br>
		<p>Tweet</p>
		<input type="text" name="tweet"><br>
		<button type="submit">send</button>
	</form>
	
	<h2>tellResponse用</h2>
	<!-- responseクラスを返そうとする -->
	<form action="/tellResponse">
		<p>Name2</p>
		<input type="text" name="name"><br>
		<p>Tweet2</p>
		<input type="text" name="tweet"><br>
		<button type="submit">send2</button>
	</form>
	
	<!-- helloResponseとtweetResponseオブジェクトを表示する -->
	<h2 th:text="${helloResponse}"></h2>
	<h2 th:text="${tweetResponse}"></h2>
	
	<!-- responseがない場合はここの処理はしない responseは/tellResponseにアクセスしたときのみ存在し、/tellResponseでresponseの型を宣言している-->
	<div th:if="${response}">
		<p th:text="'Hello. I am ' + ${response.name} + '.'"></p>
		<p th:text="${response.tweet}"></p>
	
	</div>
</body>
</html>